mixin events_calendar-1( month, color, date, m, name, link )
   .events_calendar__one_month
      .row
         .calendar.col
            .relative
            .calendar__holder
               img( src='./assets/data/calendar/#{month}.svg?v=2' )
         section( aria-label='Мероприятия' ).col
            .row
               .event__date_holder.col( class='event_#{color}' )
                  .event__date !{date}
                  .event__month_text !{m}
               .line
               .event__about_holder.col
                  .event__name !{name}
                  .event__link !{link}
