mixin menu( active1, active2, active3, active4, active5, active6, active7, active8, active9, active10, active11  )
   menu.header__menu_holder
      a( href='./index.html' class='#{active1}').menu__item О&nbsp;проекте
      a( href='./federal_operator.html'  class='#{active2}').menu__item О&nbsp;федеральном операторе
      a( href='./events.html'  class='#{active3}').menu__item Федеральный календарь
      a( href='./news.html'  class='#{active4}').menu__item Новости
      //a( href='./videos.html'  class='#{active5}').menu__item Видео
      a( href='./documentation.html'  class='#{active6}').menu__item Документы
      //a( href='./list.html'  class='#{active7}').menu__item Список &laquo;IT-КУБОВ&raquo;
      a( href='./teacher_competition.html' class='#{active8}').menu__item Конкурс педагогов
      a( href='./congress.html' class='#{active9}').menu__item Съезд руководителей
      a( href='./hackathon.html' class='#{active10}').menu__item Хакатон
      a( href='./meetings.html' class='#{active11}').menu__item Окружные совещания
