mixin menu_mobile( active1, active2, active3, active4, active5, active6, active7, active8, active9, active10, active11  )
   menu.menu__mobile_container
      .menu__mobile
         .menu__mobile_icon
      .menu__mobile_holder
         a( href='./index.html' class='#{active1}').menu__mobile_item О&nbsp;проекте
         a( href='./federal_operator.html'  class='#{active2}').menu__mobile_item О&nbsp;федеральном операторе
         a( href='./events.html'  class='#{active3}').menu__mobile_item Федеральный календарь
         a( href='./news.html'  class='#{active4}').menu__mobile_item Новости
         //a( href='./videos.html'  class='#{active5}').menu__mobile_item Видео
         a( href='./documentation.html'  class='#{active6}').menu__mobile_item Документы
         //a( href='./list.html'  class='#{active7}').menu__mobile_item Список &laquo;IT-КУБОВ&raquo;
         a( href='./teacher_competition.html' class='#{active8}').menu__mobile_item Конкурс педагогов
         a( href='./congress.html' class='#{active9}').menu__mobile_item Съезд руководителей
         a( href='./hackathon.html' class='#{active10}').menu__mobile_item Хакатон
         a( href='./meetings.html' class='#{active11}').menu__mobile_item Окружные совещания
