mixin schedule-two( date, name, position, name2, position2, about1 )
   article.schedule__holder.schedule_holder__one.mb3
      .schedule__block-1.mb2
         .top.schedule__date !{date}
         .schedule__time
            .icon-time.mr05
            .schedule_time__text.text-22 1 час
      .schedule__block-2.mb2
         .top.schedule__name !{name}
         .schedule__position.text-22.mb1 !{position}
         .top.schedule__name !{name2}
         .schedule__position.text-22 !{position2}
      .schedule__block-3
         .top.schedule__about
            .icon-dot.mr05
            .schedule_about__text !{about1}
