mixin program-3( t1, t2, title, name, topic, name2, topic2, name3, topic3, place )
   .meeting__program
      .meeting_program__time #{t1}&nbsp;&ndash; #{t2}
      .meeting_program__info
         .meeting_program__title !{title}
         .meeting_program__person !{name}
         .meeting_program__topic.mb05 !{topic}
         .meeting_program__person !{name2}
         .meeting_program__topic.mb05 !{topic2}
         .meeting_program__person !{name3}
         .meeting_program__topic !{topic3}
         .meeting_program__place !{place}
