mixin program-4-1( t1, t2, caption, tema, name, topic, tema2, name2, topic2, tema3, name3, topic3, tema4, name4, topic4, place )
   .meeting__program
      .meeting_program__time #{t1}&nbsp;&ndash; #{t2}
      .meeting_program__info
         .meeting_program__block.mb2 !{caption}

         .meeting_program__title.mb08 !{tema}
         .meeting_program__person !{name}
         .meeting_program__topic.mb15 !{topic}

         .meeting_program__title.mb08 !{tema2}
         .meeting_program__person !{name2}
         .meeting_program__topic.mb15 !{topic2}

         .meeting_program__title.mb08 !{tema3}
         .meeting_program__person !{name3}
         .meeting_program__topic.mb15 !{topic3}

         .meeting_program__title.mb08 !{tema4}
         .meeting_program__person !{name4}
         .meeting_program__topic !{topic4}

         .meeting_program__place.mt2 !{place}

