mixin stage( title, month, what, text )
   .competition_stage__holder.text-22
      .competition_stage__about
         .competition_stage__title( class='competition_stage_icon-#{icon}' )
            h2.title.mb15 !{title}
            //.competition_stage__month (!{month})
         .competition_stage__phase !{what}:
         .competition_stage__text !{text}
