mixin clock-3( time, text, name, position, name2, position2, name3, position3 )
   article.congress__clock.row.mb3
      .block-6.flex.items-center
         .icon-clock
         strong.text-27.text-blue !{time}
      .block-18
         h1.text-25.mb05.text-blue !{text}
         h2.text-22.mb05  При участии модераторов:
         .block.mb03
            strong.text-22 !{name},
               span.simple  !{position}
         .block.mb03
            strong.text-22 !{name2},
               span.simple  !{position2}
         .block
            strong.text-22 !{name3},
               span.simple  !{position3}


