mixin ps-3( text, name, position, name2, position2, name3, position3 )
   article.congress__ps.mb3
      h1.text-25.mb05
         strong.text-blue !{text}
      h2.text-22.mb05  При участии модераторов:
      .block.mb03
         strong.text-22 !{name},
         span.simple  !{position}
      .block.mb03
         strong.text-22 !{name2},
         span.simple  !{position2}
      .block
         strong.text-22 !{name3},
         span.simple  !{position3}


